/**
 *Custom CSS Sheraton Hotel
 By DNA Jan 12, 2018.
 */
 
h1,h2,h3,p,a,div,button{font-family: 'Open Sans', sans-serif;}
body{margin-top:-20px;}
h3{font-size:16px;font-weight:600;}
.modal-title,.modal-body{color:#222;}
.special{color:#000;}
.welcome-header{text-align:center;margin:0 auto; width:100%;margin-top:65px}
.page-header{border:0;}
.konten-atas{background:url(../img/background.jpg);height:600px;background-size:contain;}
/* Remove Block Title Name Convention */
section#block-block-1{margin-top:-80px;}
section#block-block-1 > h2, section#block-block-2 > h2{display:none;}
#block-block-3 > h2{display:none;}
.navbar-default{background:none;border:none;}
.yellow{background:#FFE007;border:none;}
.btn.yellow{border-radius:30px;padding:5 40px;}
.btn-default:hover{background:#FFE007;}
.btn.yellow:hover{background:#fff;color:#222;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;}
.tick{margin-top:30px;display:block;margin:0 auto;text-align:center;}

/* Card Features */
.card-features > div > .box {transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;border-radius:2px;background: #fff;padding: 30px 10px;text-align: center;}
.card-features > .first > div > img, .card-features > .second > div > img, .card-features > .third > div > img{width:50px;}
.card-features > .first > div > p, .card-features > .second > div > p, .card-features > .third > div > p{color:#FFE007; font-weight:600; margin-top:30px;margin-bottom:30px}
.card-features > .first > div >p.desc, .card-features > .second > div > p.desc,.card-features > .third > div > p.desc{color:#000;font-weight:300}

.first > .box > span.image-svg{background:url(../img/room-key.svg)no-repeat center;height:65px;display:block;}
.second > .box > span.image-svg{background:url(../img/couch.svg)no-repeat center;height:65px;display:block;}
.third > .box > span.image-svg{background:url(../img/room-service.svg)no-repeat center;height:65px;display:block;}

.card-features > .first:hover > .box > span.image-svg{background:url(../img/room-key-bl.svg)no-repeat center;height:65px;display:block;}
.card-features > .second:hover > .box > span.image-svg{background:url(../img/couch-bl.svg)no-repeat center;height:65px;display:block;}
.card-features > .third:hover > .box > span.image-svg{background:url(../img/room-service-bl.svg)no-repeat center;height:65px;display:block;}

.card-features > div:hover > .box{margin-top:-30px;background:#FFE007;transition: all 0.2s;-moz-transition:all 0.2s;-webkit-transition:all 0.2s;}
.card-features > div:hover > div > p{color:#000;}
navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{background:none;color:#fff;}
.welcome-header{color:#fff;}
.welcome-header > p{margin-top: -10px;margin-bottom: 30px;}
.navbar-default .navbar-nav > .active > a{color:rgba(255, 255, 255, 0.8);background:none;}
.video-gallery{margin-top:80px;}
.footer{background:#132a3a;color:#fff;}
.showcase > h3{margin-bottom:30px;}
.frame-video > a > img{margin:0 auto;}
.video-gallery > p > img{padding-top:25px;display:block;clear:both;margin:0 auto;}
.subscriber{    background: #f7f7f7;padding: 25px;text-align: center;margin-top: 80px;}
section#block-block-1{background:#132a3a;padding-bottom:40px;}
.card-features{margin-top:-80px;}
.subscriber > h3 > p{font-size:13px;}
.subscriber > h3 > button {margin-top:25px;border-radius:30px;font-size:12px;text-transform:uppercase;}
.showcase{display: block;margin: 0 auto;text-align: center;margin-top: 80px;}
section#block-block-2{margin-top:60px;display:block;margin:0 auto;text-align:center;}
.owl-item{margin:5px;}
.owl-item:hover .views-field-title{display:block;transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s}
.views-field-title{transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;background: rgba(0,0,0,0.5);color: #fff;padding: 5px 15px;width:100%;display: block;position: absolute;z-index: 999;display:none;margin-top: -30px;}
.views-field-title > span >a{color:#fff;}
section > div > p, section > div  > ul > li{font-size:12px;}
section > div > ul > li{list-style:none;}
nav > img, nav > hr, nav > h3,.registration{display:none;}



@media (max-width: 767px){
.company > ul, .Support > ul {padding-left:0;}
.owl-item{margin:0;}
.card-features > .col-sm-4{margin-top:15px;}
.location > p{width:280px;}
.subscribe-form{width:320px !important;}
.location,.Info{display:none;}
.company,.Support,.page-subs{text-align:center;}
a.logo.navbar-btn{display: block;margin: 0 auto;text-align: center;width: 100%;margin-top: 30px;}
.navbar-toggle{border:none;margin-top: -60px;margin-right: 30px;z-index:999;}
.icon-bar{transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;}
.navbar-default .navbar-toggle .icon-bar{background:#fff;}
.navbar-toggle[aria-expanded="true"] > .icon-bar{background:#222;}
.navbar-collapse{background:#fff;}
.navbar-default .navbar-nav > .active > a{color:#000;}
.navbar-default .navbar-toggle:hover{background:transparent;}
nav > img{display:block;width: 90px;float: left;margin-top: 15px;padding-bottom: 20px;}
nav > h3{display:block;margin-top: 50px;float: left;margin-left: 20px;}
nav > hr{clear:both;display:block;}
.registration{position:absolute;bottom:5px;width:92%;}
.bluecore{background:#3770F1;color:#fff;width:100%;margin-bottom:5px;}
.whitecore{background:#fff;color:#222;width:100%;}
.navbar-collapse{overflow-y:hidden;z-index:2;position: absolute;width: 100%;top: 0;height: 100vh;}
.lock{overflow-y:hidden;}
.registration{display:block;}
.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(2) {transform: translate3d(0,0,0) rotate(0deg);width: 22px;}
.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(3) {transform: translate3d(0,0,0) rotate(0deg);}
.navbar-toggle.larr.collapsed .icon-bar:nth-of-type(4) {transform: translate3d(0,0,0) rotate(0deg);width: 22px;}
.navbar-toggle.larr .icon-bar:nth-of-type(2) {transform: translate3d(0px,6px,0) rotate(45deg);transform-origin: left top;width: 11px;}
.navbar-toggle.larr .icon-bar:nth-of-type(4) {transform: translate3d(0px,-6px,0) rotate(-45deg);transform-origin: left bottom;width: 11px;}
}
